.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
  
  /* O tamanho da img do avatar fica comprimida devido ao padding e as bordas,
  para resolver usa-se "box-sizing: initial;" (com width e no height 3rem em cada um)
  ou o calc(3rem + a quantidade de borda -> 4 + 4 + 2 + 2 = 12) no width e no height*/
}
